<p id="notice"><%= notice %></p>
 <%# <div class="instructions">
<div class="row listContainer"  > %>


<div class="Container">

  <div class="headerContainer">
    <h1 class="title">My Friends List<h1>
    
    <button type="button" class="btn btnStyle" data-toggle="modal" data-target="#infoModal1"> 
    Features
    </button>
    <!---------------------------- Modal ----------------------------------->
    <div class="modal fade" id="infoModal1" tabindex="-1" role="dialog" aria-labelledby="infoModalTitle" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">

          <div class="modal-header">
            <h5 class="modal-title" id="infoModalTitle">Instructions</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div class="modal-body"> 
            <ul class="columns">
              <h5>Features</h5>
              <li>Import Friends from CSV</li>
              <li>Create New Friend</li>
              <li>Edit Friend</li>
              <li>Delete Friend</li>
              <li>Sort through any category</li>
              <li>Use any delimiter: "," ";" "/t" "|" "#"</li>
            </ul>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>

        </div>
      </div>
    </div>
    <!-------------------------------------- Model End------------------------------->
     <button type="button" class="btn btnStyle" data-toggle="modal" data-target="#infoModal2"> 
    Input Requirements
    </button>
        <!---------------------------- Modal ----------------------------------->
    <div class="modal fade" id="infoModal2" tabindex="-1" role="dialog" aria-labelledby="infoModalTitle" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">

          <div class="modal-header">
            <h5 class="modal-title" id="infoModalTitle">Instructions</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div class="modal-body">
            <ul class="columns">
              <h5>Input</h5>
              <li>Last Name</li>
              <li>First Name</li>
              <li>Middle Initial</li>
              <li>Pet</li>
              <li>Birthday</li>
              <li>Favorite Color</li>
              <li>Phone Number</li>
            </ul>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>

        </div>
      </div>
    </div>
    <!-------------------------------------- Model End------------------------------->
    <button type="button" class="btn btnStyle" data-toggle="modal" data-target="#infoModal3"> 
    CSV Format Examples
    </button>
    <!---------------------------- Modal ----------------------------------->
    <div class="modal fade" id="infoModal3" tabindex="-1" role="dialog" aria-labelledby="infoModalTitle" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">

          <div class="modal-header">
            <h5 class="modal-title" id="infoModalTitle">Instructions</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div class="modal-body">
                <ul class="columns" style="list-style-type:none" >
                  <h5>CSV Format Examples</h5>
                  <li>Lopez,George,E,Dog,04/23/1961,Green,805-555-6490</li>
                  <li>Lopez;George;E;Dog;04/23/1961;Green;805-555-6490</li>
                  <li>Lopez George E  Dog 04/23/1961 Green  805-555-6490</li>
                  <li>Lopez|George|E|Dog|04/23/1961|Green|805-555-6490</li>
                  <li>Lopez#George#E#Dog#04/23/1961#Green#805-555-6490</li>
                </ul>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>

        </div>
      </div>
    </div>
    <!-------------------------------------- Model End------------------------------->
  </div> <!--header end-->

  <div class= "row importHeader">
      <div class="col-md-4"><div class="peopleCounter"><%=Person.count%> Friends</div></div>
      <div class="col-md-2"><div class="importFile">Import File</div></div>
      <div class="col-md-6">
        <%= form_tag import_people_path, multipart: true do %>
          <div class="input-group">
            <span class="form-control inputStyle"></span>
            <span class="input-group-btn">
              <label class="btn myButton" onclick="$(this).parent().find('input[type=file]').click();">Browse</label>
              <%= file_field_tag :file, onchange: "$(this).parent().parent().find('.form-control').html($(this).val().split(/[\\\\|/]/).pop());", style: "display: none;" %>
              <label class="btn myButton">Upload<div style="display:none"><%= submit_tag %></div></label>
            </span>
          </div>
        <% end %>
      </div>
  </div>


<table class="table table-hover tableStyle">
  <thead>
    <tr>
      <th><%= sort_link "lastName" %></th>
      <th><%= sort_link "firstName" %></th>
      <th><%= sort_link "middleInitial" %></th>
      <th><%= sort_link "pet" %></th>
      <th><%= sort_link "birthday" %></th>
      <th><%= sort_link "favoriteColor" %></th>
      <th><%= sort_link "phoneNumber" %></th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @people.each do |person| %>
      <tr>
        <td><%= link_to person.lastName, person %></td>
        <td><%= link_to person.firstName, person %></td>
        <td><%= person.middleInitial %></td>
        <td><%= person.pet %></td>
        <td><%= person.birthday.strftime("%m/%d/%Y")%></td>
        <td><%= person.favoriteColor %></td>
        <td><%= person.phoneNumber %></td>
        <td><%= link_to person, method: :delete, data: { confirm: 'Are you sure?' }, remote: true do %>
          <i class="fa fa-trash-o"></i>
          <% end%>
        </td>  
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Person', new_person_path, class: "btn btn-default"%>
</div>